source/kCura.Relativity.Export/Web References/kCura.EDDS.WebAPI.SearchManagerBase/SearchManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.kCura.com/EDDS/SearchManager" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.kCura.com/EDDS/SearchManager" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.kCura.com/EDDS/SearchManager">
      <s:element name="IsAssociatedSearchProviderAccessible">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="searchArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsAssociatedSearchProviderAccessibleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IsAssociatedSearchProviderAccessibleResult" type="tns:ArrayOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBoolean">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="boolean" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSearchSQL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="searchArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSearchSQLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSearchSQLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveNativesForSearch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="documentArtifactIDs" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveNativesForSearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveNativesForSearchResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveFilesForDynamicObjects">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fileFieldArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="objectIds" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetrieveFilesForDynamicObjectsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveFilesForDynamicObjectsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveNativesForProduction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="productionArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="documentArtifactIDs" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveNativesForProductionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveNativesForProductionResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveImagesForSearch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="documentArtifactIDs" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveImagesForSearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveImagesForSearchResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveImagesByProductionArtifactIDForProductionExportByDocumentSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="productionArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="documentArtifactIDs" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveImagesByProductionArtifactIDForProductionExportByDocumentSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveImagesByProductionArtifactIDForProductionExportByDocumentSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveImagesByProductionIDsAndDocumentIDsForExport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="productionArtifactIDs" type="tns:ArrayOfInt" />
            <s:element minOccurs="0" maxOccurs="1" name="documentArtifactIDs" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveImagesByProductionIDsAndDocumentIDsForExportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveImagesByProductionIDsAndDocumentIDsForExportResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveViewsByContextArtifactID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="artifactTypeID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="isSearch" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveViewsByContextArtifactIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveViewsByContextArtifactIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveSearchFields">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="viewArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveSearchFieldsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveSearchFieldsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveSearchFieldsForProduction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="productionArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveSearchFieldsForProductionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveSearchFieldsForProductionResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveDefaultViewFieldsForIdList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="artifactTypeID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="artifactIdList" type="tns:ArrayOfInt" />
            <s:element minOccurs="1" maxOccurs="1" name="isProductionList" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveDefaultViewFieldsForIdListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveDefaultViewFieldsForIdListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveAllExportableViewFields">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="artifactTypeID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveAllExportableViewFieldsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveAllExportableViewFieldsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IsAssociatedSearchProviderAccessibleSoapIn">
    <wsdl:part name="parameters" element="tns:IsAssociatedSearchProviderAccessible" />
  </wsdl:message>
  <wsdl:message name="IsAssociatedSearchProviderAccessibleSoapOut">
    <wsdl:part name="parameters" element="tns:IsAssociatedSearchProviderAccessibleResponse" />
  </wsdl:message>
  <wsdl:message name="GetSearchSQLSoapIn">
    <wsdl:part name="parameters" element="tns:GetSearchSQL" />
  </wsdl:message>
  <wsdl:message name="GetSearchSQLSoapOut">
    <wsdl:part name="parameters" element="tns:GetSearchSQLResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveNativesForSearchSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveNativesForSearch" />
  </wsdl:message>
  <wsdl:message name="RetrieveNativesForSearchSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveNativesForSearchResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveFilesForDynamicObjectsSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveFilesForDynamicObjects" />
  </wsdl:message>
  <wsdl:message name="RetrieveFilesForDynamicObjectsSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveFilesForDynamicObjectsResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveNativesForProductionSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveNativesForProduction" />
  </wsdl:message>
  <wsdl:message name="RetrieveNativesForProductionSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveNativesForProductionResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveImagesForSearchSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveImagesForSearch" />
  </wsdl:message>
  <wsdl:message name="RetrieveImagesForSearchSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveImagesForSearchResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveImagesByProductionArtifactIDForProductionExportByDocumentSetSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveImagesByProductionArtifactIDForProductionExportByDocumentSet" />
  </wsdl:message>
  <wsdl:message name="RetrieveImagesByProductionArtifactIDForProductionExportByDocumentSetSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveImagesByProductionArtifactIDForProductionExportByDocumentSetResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveImagesByProductionIDsAndDocumentIDsForExportSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveImagesByProductionIDsAndDocumentIDsForExport" />
  </wsdl:message>
  <wsdl:message name="RetrieveImagesByProductionIDsAndDocumentIDsForExportSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveImagesByProductionIDsAndDocumentIDsForExportResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveViewsByContextArtifactIDSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveViewsByContextArtifactID" />
  </wsdl:message>
  <wsdl:message name="RetrieveViewsByContextArtifactIDSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveViewsByContextArtifactIDResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveSearchFieldsSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveSearchFields" />
  </wsdl:message>
  <wsdl:message name="RetrieveSearchFieldsSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveSearchFieldsResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveSearchFieldsForProductionSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveSearchFieldsForProduction" />
  </wsdl:message>
  <wsdl:message name="RetrieveSearchFieldsForProductionSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveSearchFieldsForProductionResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveDefaultViewFieldsForIdListSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveDefaultViewFieldsForIdList" />
  </wsdl:message>
  <wsdl:message name="RetrieveDefaultViewFieldsForIdListSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveDefaultViewFieldsForIdListResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveAllExportableViewFieldsSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveAllExportableViewFields" />
  </wsdl:message>
  <wsdl:message name="RetrieveAllExportableViewFieldsSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveAllExportableViewFieldsResponse" />
  </wsdl:message>
  <wsdl:portType name="SearchManagerSoap">
    <wsdl:operation name="IsAssociatedSearchProviderAccessible">
      <wsdl:input message="tns:IsAssociatedSearchProviderAccessibleSoapIn" />
      <wsdl:output message="tns:IsAssociatedSearchProviderAccessibleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSearchSQL">
      <wsdl:input message="tns:GetSearchSQLSoapIn" />
      <wsdl:output message="tns:GetSearchSQLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveNativesForSearch">
      <wsdl:input message="tns:RetrieveNativesForSearchSoapIn" />
      <wsdl:output message="tns:RetrieveNativesForSearchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveFilesForDynamicObjects">
      <wsdl:input message="tns:RetrieveFilesForDynamicObjectsSoapIn" />
      <wsdl:output message="tns:RetrieveFilesForDynamicObjectsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveNativesForProduction">
      <wsdl:input message="tns:RetrieveNativesForProductionSoapIn" />
      <wsdl:output message="tns:RetrieveNativesForProductionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveImagesForSearch">
      <wsdl:input message="tns:RetrieveImagesForSearchSoapIn" />
      <wsdl:output message="tns:RetrieveImagesForSearchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveImagesByProductionArtifactIDForProductionExportByDocumentSet">
      <wsdl:input message="tns:RetrieveImagesByProductionArtifactIDForProductionExportByDocumentSetSoapIn" />
      <wsdl:output message="tns:RetrieveImagesByProductionArtifactIDForProductionExportByDocumentSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveImagesByProductionIDsAndDocumentIDsForExport">
      <wsdl:input message="tns:RetrieveImagesByProductionIDsAndDocumentIDsForExportSoapIn" />
      <wsdl:output message="tns:RetrieveImagesByProductionIDsAndDocumentIDsForExportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveViewsByContextArtifactID">
      <wsdl:input message="tns:RetrieveViewsByContextArtifactIDSoapIn" />
      <wsdl:output message="tns:RetrieveViewsByContextArtifactIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveSearchFields">
      <wsdl:input message="tns:RetrieveSearchFieldsSoapIn" />
      <wsdl:output message="tns:RetrieveSearchFieldsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveSearchFieldsForProduction">
      <wsdl:input message="tns:RetrieveSearchFieldsForProductionSoapIn" />
      <wsdl:output message="tns:RetrieveSearchFieldsForProductionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveDefaultViewFieldsForIdList">
      <wsdl:input message="tns:RetrieveDefaultViewFieldsForIdListSoapIn" />
      <wsdl:output message="tns:RetrieveDefaultViewFieldsForIdListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllExportableViewFields">
      <wsdl:input message="tns:RetrieveAllExportableViewFieldsSoapIn" />
      <wsdl:output message="tns:RetrieveAllExportableViewFieldsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SearchManagerSoap" type="tns:SearchManagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsAssociatedSearchProviderAccessible">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/IsAssociatedSearchProviderAccessible" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSearchSQL">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/GetSearchSQL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveNativesForSearch">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/RetrieveNativesForSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveFilesForDynamicObjects">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/RetrieveFilesForDynamicObjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveNativesForProduction">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/RetrieveNativesForProduction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveImagesForSearch">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/RetrieveImagesForSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveImagesByProductionArtifactIDForProductionExportByDocumentSet">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/RetrieveImagesByProductionArtifactIDForProductionExportByDocumentSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveImagesByProductionIDsAndDocumentIDsForExport">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/RetrieveImagesByProductionIDsAndDocumentIDsForExport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveViewsByContextArtifactID">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/RetrieveViewsByContextArtifactID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveSearchFields">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/RetrieveSearchFields" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveSearchFieldsForProduction">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/RetrieveSearchFieldsForProduction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveDefaultViewFieldsForIdList">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/RetrieveDefaultViewFieldsForIdList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllExportableViewFields">
      <soap:operation soapAction="http://www.kCura.com/EDDS/SearchManager/RetrieveAllExportableViewFields" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SearchManagerSoap12" type="tns:SearchManagerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsAssociatedSearchProviderAccessible">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/SearchManager/IsAssociatedSearchProviderAccessible" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSearchSQL">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/SearchManager/GetSearchSQL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveNativesForSearch">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/SearchManager/RetrieveNativesForSearch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveFilesForDynamicObjects">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/SearchManager/RetrieveFilesForDynamicObjects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveNativesForProduction">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/SearchManager/RetrieveNativesForProduction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveImagesForSearch">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/SearchManager/RetrieveImagesForSearch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveImagesByProductionArtifactIDForProductionExportByDocumentSet">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/SearchManager/RetrieveImagesByProductionArtifactIDForProductionExportByDocumentSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveImagesByProductionIDsAndDocumentIDsForExport">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/SearchManager/RetrieveImagesByProductionIDsAndDocumentIDsForExport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveViewsByContextArtifactID">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/SearchManager/RetrieveViewsByContextArtifactID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveSearchFields">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/SearchManager/RetrieveSearchFields" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveSearchFieldsForProduction">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/SearchManager/RetrieveSearchFieldsForProduction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveDefaultViewFieldsForIdList">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/SearchManager/RetrieveDefaultViewFieldsForIdList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllExportableViewFields">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/SearchManager/RetrieveAllExportableViewFields" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SearchManager">
    <wsdl:port name="SearchManagerSoap" binding="tns:SearchManagerSoap">
      <soap:address location="http://localhost/RelativityWebApi/SearchManager.asmx" />
    </wsdl:port>
    <wsdl:port name="SearchManagerSoap12" binding="tns:SearchManagerSoap12">
      <soap12:address location="http://localhost/RelativityWebApi/SearchManager.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>