source/kCura.Relativity.Export.ConvertedToC#/Web References/kCura.EDDS.WebAPI.AuditManagerBase/AuditManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.kCura.com/EDDS/AuditManager" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.kCura.com/EDDS/AuditManager" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.kCura.com/EDDS/AuditManager">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="CreateAuditRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="artifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="action" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="details" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="origination" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateAuditRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateAuditRecordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuditImageImport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="runId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isFatalError" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="importStats" type="tns:ImageImportStatistics" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ImageImportStatistics">
        <s:complexContent mixed="false">
          <s:extension base="tns:ImportStatistics">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ExtractedTextReplaced" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="SupportImageAutoNumbering" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="DestinationProductionArtifactID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ExtractedTextDefaultEncodingCodePageID" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ImportStatistics" abstract="true">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="BatchSizes" type="tns:ArrayOfInt" />
          <s:element minOccurs="1" maxOccurs="1" name="RepositoryConnection" type="tns:RepositoryConnectionType" />
          <s:element minOccurs="1" maxOccurs="1" name="Overwrite" type="tns:OverwriteType" />
          <s:element minOccurs="1" maxOccurs="1" name="OverlayIdentifierFieldArtifactID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DestinationFolderArtifactID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LoadFileName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StartLine" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FilesCopiedToRepository" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalFileSize" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalMetadataBytes" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="NumberOfDocumentsCreated" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumberOfDocumentsUpdated" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumberOfFilesLoaded" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumberOfErrors" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="NumberOfWarnings" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="RunTimeInMilliseconds" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SendNotification" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="OverlayBehavior" nillable="true" type="tns:OverlayBehavior" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="RepositoryConnectionType">
        <s:restriction base="s:string">
          <s:enumeration value="Web" />
          <s:enumeration value="Direct" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="OverwriteType">
        <s:restriction base="s:string">
          <s:enumeration value="Append" />
          <s:enumeration value="Overlay" />
          <s:enumeration value="Both" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="OverlayBehavior">
        <s:restriction base="s:string">
          <s:enumeration value="UseRelativityDefaults" />
          <s:enumeration value="MergeAll" />
          <s:enumeration value="ReplaceAll" />
        </s:restriction>
      </s:simpleType>
      <s:element name="AuditImageImportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AuditImageImportResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuditObjectImport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="runId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isFatalError" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="importStats" type="tns:ObjectImportStatistics" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ObjectImportStatistics">
        <s:complexContent mixed="false">
          <s:extension base="tns:ImportStatistics">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ArtifactTypeID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Delimiter" type="s1:char" />
              <s:element minOccurs="1" maxOccurs="1" name="Bound" type="s1:char" />
              <s:element minOccurs="1" maxOccurs="1" name="NewlineProxy" type="s1:char" />
              <s:element minOccurs="1" maxOccurs="1" name="MultiValueDelimiter" type="s1:char" />
              <s:element minOccurs="1" maxOccurs="1" name="LoadFileEncodingCodePageID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ExtractedTextFileEncodingCodePageID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="FolderColumnName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FileFieldColumnName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ExtractedTextPointsToFile" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="NumberOfChoicesCreated" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="NumberOfFoldersCreated" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="FieldsMapped" type="tns:ArrayOfArrayOfInt" />
              <s:element minOccurs="1" maxOccurs="1" name="NestedValueDelimiter" type="s1:char" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfInt" nillable="true" type="tns:ArrayOfInt" />
        </s:sequence>
      </s:complexType>
      <s:element name="AuditObjectImportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AuditObjectImportResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuditExport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="isFatalError" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="exportStats" type="tns:ExportStatistics" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ExportStatistics">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fields" type="tns:ArrayOfInt" />
          <s:element minOccurs="0" maxOccurs="1" name="DestinationFilesystemFolder" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OverwriteFiles" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="VolumePrefix" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="VolumeMaxSize" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="SubdirectoryImagePrefix" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SubdirectoryNativePrefix" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SubdirectoryTextPrefix" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SubdirectoryStartNumber" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="SubdirectoryMaxFileCount" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="FilePathSettings" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Delimiter" type="s1:char" />
          <s:element minOccurs="1" maxOccurs="1" name="Bound" type="s1:char" />
          <s:element minOccurs="1" maxOccurs="1" name="NewlineProxy" type="s1:char" />
          <s:element minOccurs="1" maxOccurs="1" name="MultiValueDelimiter" type="s1:char" />
          <s:element minOccurs="1" maxOccurs="1" name="NestedValueDelimiter" type="s1:char" />
          <s:element minOccurs="1" maxOccurs="1" name="TextAndNativeFilesNamedAfterFieldID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AppendOriginalFilenames" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ExportImages" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ImageLoadFileFormat" type="tns:ImageLoadFileFormatType" />
          <s:element minOccurs="1" maxOccurs="1" name="ImageFileType" type="tns:ImageFileExportType" />
          <s:element minOccurs="1" maxOccurs="1" name="ExportNativeFiles" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="MetadataLoadFileFormat" type="tns:LoadFileFormat" />
          <s:element minOccurs="1" maxOccurs="1" name="MetadataLoadFileEncodingCodePage" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ExportTextFieldAsFiles" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ExportedTextFileEncodingCodePage" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ExportedTextFieldID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ExportMultipleChoiceFieldsAsNested" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalFileBytesExported" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalMetadataBytesExported" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrorCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="WarningCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DocumentExportCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FileExportCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ImagesToExport" type="tns:ImagesToExportType" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductionPrecedence" type="tns:ArrayOfInt" />
          <s:element minOccurs="1" maxOccurs="1" name="DataSourceArtifactID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SourceRootFolderID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RunTimeInMilliseconds" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CopyFilesFromRepository" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="StartExportAtDocumentNumber" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="VolumeStartNumber" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ArtifactTypeID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ImageLoadFileFormatType">
        <s:restriction base="s:string">
          <s:enumeration value="Opticon" />
          <s:enumeration value="Ipro" />
          <s:enumeration value="IproFullText" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ImageFileExportType">
        <s:restriction base="s:string">
          <s:enumeration value="SinglePage" />
          <s:enumeration value="MultiPageTiff" />
          <s:enumeration value="PDF" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="LoadFileFormat">
        <s:restriction base="s:string">
          <s:enumeration value="Csv" />
          <s:enumeration value="Dat" />
          <s:enumeration value="Custom" />
          <s:enumeration value="Html" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ImagesToExportType">
        <s:restriction base="s:string">
          <s:enumeration value="Original" />
          <s:enumeration value="Produced" />
          <s:enumeration value="Both" />
        </s:restriction>
      </s:simpleType>
      <s:element name="AuditExportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AuditExportResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAuditToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAuditTokenResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetUserIdByGuid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserIdByGuidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetUserIdByGuidResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="char">
        <s:restriction base="s:unsignedShort" />
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateAuditRecordSoapIn">
    <wsdl:part name="parameters" element="tns:CreateAuditRecord" />
  </wsdl:message>
  <wsdl:message name="CreateAuditRecordSoapOut">
    <wsdl:part name="parameters" element="tns:CreateAuditRecordResponse" />
  </wsdl:message>
  <wsdl:message name="AuditImageImportSoapIn">
    <wsdl:part name="parameters" element="tns:AuditImageImport" />
  </wsdl:message>
  <wsdl:message name="AuditImageImportSoapOut">
    <wsdl:part name="parameters" element="tns:AuditImageImportResponse" />
  </wsdl:message>
  <wsdl:message name="AuditObjectImportSoapIn">
    <wsdl:part name="parameters" element="tns:AuditObjectImport" />
  </wsdl:message>
  <wsdl:message name="AuditObjectImportSoapOut">
    <wsdl:part name="parameters" element="tns:AuditObjectImportResponse" />
  </wsdl:message>
  <wsdl:message name="AuditExportSoapIn">
    <wsdl:part name="parameters" element="tns:AuditExport" />
  </wsdl:message>
  <wsdl:message name="AuditExportSoapOut">
    <wsdl:part name="parameters" element="tns:AuditExportResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteAuditTokenSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteAuditToken" />
  </wsdl:message>
  <wsdl:message name="DeleteAuditTokenSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteAuditTokenResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserIdByGuidSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserIdByGuid" />
  </wsdl:message>
  <wsdl:message name="GetUserIdByGuidSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserIdByGuidResponse" />
  </wsdl:message>
  <wsdl:portType name="AuditManagerSoap">
    <wsdl:operation name="CreateAuditRecord">
      <wsdl:input message="tns:CreateAuditRecordSoapIn" />
      <wsdl:output message="tns:CreateAuditRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AuditImageImport">
      <wsdl:input message="tns:AuditImageImportSoapIn" />
      <wsdl:output message="tns:AuditImageImportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AuditObjectImport">
      <wsdl:input message="tns:AuditObjectImportSoapIn" />
      <wsdl:output message="tns:AuditObjectImportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AuditExport">
      <wsdl:input message="tns:AuditExportSoapIn" />
      <wsdl:output message="tns:AuditExportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAuditToken">
      <wsdl:input message="tns:DeleteAuditTokenSoapIn" />
      <wsdl:output message="tns:DeleteAuditTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserIdByGuid">
      <wsdl:input message="tns:GetUserIdByGuidSoapIn" />
      <wsdl:output message="tns:GetUserIdByGuidSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuditManagerSoap" type="tns:AuditManagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateAuditRecord">
      <soap:operation soapAction="http://www.kCura.com/EDDS/AuditManager/CreateAuditRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuditImageImport">
      <soap:operation soapAction="http://www.kCura.com/EDDS/AuditManager/AuditImageImport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuditObjectImport">
      <soap:operation soapAction="http://www.kCura.com/EDDS/AuditManager/AuditObjectImport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuditExport">
      <soap:operation soapAction="http://www.kCura.com/EDDS/AuditManager/AuditExport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAuditToken">
      <soap:operation soapAction="http://www.kCura.com/EDDS/AuditManager/DeleteAuditToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserIdByGuid">
      <soap:operation soapAction="http://www.kCura.com/EDDS/AuditManager/GetUserIdByGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AuditManagerSoap12" type="tns:AuditManagerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateAuditRecord">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/AuditManager/CreateAuditRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuditImageImport">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/AuditManager/AuditImageImport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuditObjectImport">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/AuditManager/AuditObjectImport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuditExport">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/AuditManager/AuditExport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAuditToken">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/AuditManager/DeleteAuditToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserIdByGuid">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/AuditManager/GetUserIdByGuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuditManager">
    <wsdl:port name="AuditManagerSoap" binding="tns:AuditManagerSoap">
      <soap:address location="http://localhost/RelativityWebApi/AuditManager.asmx" />
    </wsdl:port>
    <wsdl:port name="AuditManagerSoap12" binding="tns:AuditManagerSoap12">
      <soap12:address location="http://localhost/RelativityWebApi/AuditManager.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>