source/kCura.Relativity.Export.ConvertedToC#/Web References/kCura.EDDS.WebAPI.FieldManagerBase/FieldManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.kCura.com/EDDS/FieldManager" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.kCura.com/EDDS/FieldManager" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.kCura.com/EDDS/FieldManager">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="fieldDTO" type="tns:Field" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Field">
        <s:complexContent mixed="false">
          <s:extension base="tns:Artifact">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="FieldArtifactTypeID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="FieldTypeID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="FieldType" type="tns:FieldType" />
              <s:element minOccurs="1" maxOccurs="1" name="FieldCategoryID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="FieldCategory" type="tns:FieldCategory" />
              <s:element minOccurs="1" maxOccurs="1" name="ArtifactViewFieldID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CodeTypeID" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="MaxLength" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IsRequired" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsRemovable" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsEditable" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsVisible" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsArtifactBaseField" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Value" />
              <s:element minOccurs="0" maxOccurs="1" name="TableName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ColumnName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsReadOnlyInLayout" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="FilterType" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="FieldDisplayTypeID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Rows" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IsLinked" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="FormatString" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="RepeatColumn" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="AssociativeArtifactTypeID" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IsAvailableToAssociativeObjects" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsAvailableInChoiceTree" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsGroupByEnabled" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsIndexEnabled" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="DisplayValueTrue" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DisplayValueFalse" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Width" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Wrapping" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="LinkLayoutArtifactID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="NameValue" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="LinkType" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="UseUnicodeEncoding" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="AllowHtml" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsSortable" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="FriendlyName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ImportBehavior" nillable="true" type="tns:ImportBehaviorChoice" />
              <s:element minOccurs="1" maxOccurs="1" name="EnableDataGrid" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="OverlayBehavior" nillable="true" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="RelationalIndexViewArtifactID" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="ObjectsFieldArgs" type="tns:ObjectsFieldParameters" />
              <s:element minOccurs="1" maxOccurs="1" name="AllowGroupBy" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="AllowPivot" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="PopupPickerView" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="FieldTreeView" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="KeyboardShortcut" type="tns:KeyboardShortcut" />
              <s:element minOccurs="1" maxOccurs="1" name="AvailableInViewer" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="RelativityApplications" type="tns:ArrayOfInt" />
              <s:element minOccurs="0" maxOccurs="1" name="RelationalPane" type="tns:RelationalFieldPane" />
              <s:element minOccurs="1" maxOccurs="1" name="AutoAddChoices" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Artifact">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ArtifactID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ArtifactTypeID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ParentArtifactID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ContainerID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AccessControlListID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AccessControlListIsInherited" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Keywords" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TextIdentifier" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LastModifiedOn" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LastModifiedBy" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedBy" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedOn" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteFlag" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Guids" type="tns:ArrayOfGuid" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfGuid">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="guid" type="s1:guid" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="FieldType">
        <s:restriction base="s:string">
          <s:enumeration value="Empty" />
          <s:enumeration value="Varchar" />
          <s:enumeration value="Integer" />
          <s:enumeration value="Date" />
          <s:enumeration value="Boolean" />
          <s:enumeration value="Text" />
          <s:enumeration value="Code" />
          <s:enumeration value="Decimal" />
          <s:enumeration value="Currency" />
          <s:enumeration value="MultiCode" />
          <s:enumeration value="File" />
          <s:enumeration value="Object" />
          <s:enumeration value="User" />
          <s:enumeration value="LayoutText" />
          <s:enumeration value="Objects" />
          <s:enumeration value="OffTableText" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="FieldCategory">
        <s:restriction base="s:string">
          <s:enumeration value="Generic" />
          <s:enumeration value="FullText" />
          <s:enumeration value="Identifier" />
          <s:enumeration value="Reflected" />
          <s:enumeration value="Comments" />
          <s:enumeration value="Relational" />
          <s:enumeration value="ProductionMarker" />
          <s:enumeration value="AutoCreate" />
          <s:enumeration value="FileSize" />
          <s:enumeration value="FolderName" />
          <s:enumeration value="FileInfo" />
          <s:enumeration value="ParentArtifact" />
          <s:enumeration value="MarkupSetMarker" />
          <s:enumeration value="GenericSystem" />
          <s:enumeration value="MultiReflected" />
          <s:enumeration value="Batch" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ImportBehaviorChoice">
        <s:restriction base="s:string">
          <s:enumeration value="LeaveBlankValuesUnchanged" />
          <s:enumeration value="ReplaceBlankValuesWithIdentifier" />
          <s:enumeration value="ObjectFieldContainsArtifactId" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ObjectsFieldParameters">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SiblingFieldName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FieldSchemaColumnName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SiblingFieldSchemaColumnName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RelationalTableSchemaName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateForeignKeys" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="KeyboardShortcut">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Shift" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Ctrl" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Alt" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Key" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RelationalFieldPane">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PaneOrder" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="IconFilename" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ColumnName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FieldArtifactID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RelationalViewArtifactID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HeaderText" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IconFileData" type="s:base64Binary" />
          <s:element minOccurs="1" maxOccurs="1" name="PaneID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Read">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fieldArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadResult" type="tns:Field" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateSoapIn">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="CreateSoapOut">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="ReadSoapIn">
    <wsdl:part name="parameters" element="tns:Read" />
  </wsdl:message>
  <wsdl:message name="ReadSoapOut">
    <wsdl:part name="parameters" element="tns:ReadResponse" />
  </wsdl:message>
  <wsdl:portType name="FieldManagerSoap">
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateSoapIn" />
      <wsdl:output message="tns:CreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Read">
      <wsdl:input message="tns:ReadSoapIn" />
      <wsdl:output message="tns:ReadSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FieldManagerSoap" type="tns:FieldManagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://www.kCura.com/EDDS/FieldManager/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <soap:operation soapAction="http://www.kCura.com/EDDS/FieldManager/Read" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FieldManagerSoap12" type="tns:FieldManagerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/FieldManager/Create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/FieldManager/Read" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FieldManager">
    <wsdl:port name="FieldManagerSoap" binding="tns:FieldManagerSoap">
      <soap:address location="http://localhost/RelativityWebApi/FieldManager.asmx" />
    </wsdl:port>
    <wsdl:port name="FieldManagerSoap12" binding="tns:FieldManagerSoap12">
      <soap12:address location="http://localhost/RelativityWebApi/FieldManager.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>