source/kCura.Relativity.Export.ConvertedToC#/Web References/kCura.EDDS.WebAPI.FieldQueryBase/FieldQuery.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.kCura.com/EDDS/FieldQuery" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.kCura.com/EDDS/FieldQuery" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.kCura.com/EDDS/FieldQuery">
      <s:element name="RetrieveDisplayFieldNameByFieldCategoryID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fieldCategoryID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveDisplayFieldNameByFieldCategoryIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveDisplayFieldNameByFieldCategoryIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveAllMappable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="artifactTypeID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveAllMappableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveAllMappableResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveAll">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveAllResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrievePotentialBeginBatesFields">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrievePotentialBeginBatesFieldsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrievePotentialBeginBatesFieldsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsFieldIndexed">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fieldArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsFieldIndexedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsFieldIndexedResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RetrieveDisplayFieldNameByFieldCategoryIDSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveDisplayFieldNameByFieldCategoryID" />
  </wsdl:message>
  <wsdl:message name="RetrieveDisplayFieldNameByFieldCategoryIDSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveDisplayFieldNameByFieldCategoryIDResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveAllMappableSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveAllMappable" />
  </wsdl:message>
  <wsdl:message name="RetrieveAllMappableSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveAllMappableResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveAllSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveAll" />
  </wsdl:message>
  <wsdl:message name="RetrieveAllSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveAllResponse" />
  </wsdl:message>
  <wsdl:message name="RetrievePotentialBeginBatesFieldsSoapIn">
    <wsdl:part name="parameters" element="tns:RetrievePotentialBeginBatesFields" />
  </wsdl:message>
  <wsdl:message name="RetrievePotentialBeginBatesFieldsSoapOut">
    <wsdl:part name="parameters" element="tns:RetrievePotentialBeginBatesFieldsResponse" />
  </wsdl:message>
  <wsdl:message name="IsFieldIndexedSoapIn">
    <wsdl:part name="parameters" element="tns:IsFieldIndexed" />
  </wsdl:message>
  <wsdl:message name="IsFieldIndexedSoapOut">
    <wsdl:part name="parameters" element="tns:IsFieldIndexedResponse" />
  </wsdl:message>
  <wsdl:portType name="FieldQuerySoap">
    <wsdl:operation name="RetrieveDisplayFieldNameByFieldCategoryID">
      <wsdl:input message="tns:RetrieveDisplayFieldNameByFieldCategoryIDSoapIn" />
      <wsdl:output message="tns:RetrieveDisplayFieldNameByFieldCategoryIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllMappable">
      <wsdl:input message="tns:RetrieveAllMappableSoapIn" />
      <wsdl:output message="tns:RetrieveAllMappableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAll">
      <wsdl:input message="tns:RetrieveAllSoapIn" />
      <wsdl:output message="tns:RetrieveAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrievePotentialBeginBatesFields">
      <wsdl:input message="tns:RetrievePotentialBeginBatesFieldsSoapIn" />
      <wsdl:output message="tns:RetrievePotentialBeginBatesFieldsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsFieldIndexed">
      <wsdl:input message="tns:IsFieldIndexedSoapIn" />
      <wsdl:output message="tns:IsFieldIndexedSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FieldQuerySoap" type="tns:FieldQuerySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveDisplayFieldNameByFieldCategoryID">
      <soap:operation soapAction="http://www.kCura.com/EDDS/FieldQuery/RetrieveDisplayFieldNameByFieldCategoryID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllMappable">
      <soap:operation soapAction="http://www.kCura.com/EDDS/FieldQuery/RetrieveAllMappable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAll">
      <soap:operation soapAction="http://www.kCura.com/EDDS/FieldQuery/RetrieveAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrievePotentialBeginBatesFields">
      <soap:operation soapAction="http://www.kCura.com/EDDS/FieldQuery/RetrievePotentialBeginBatesFields" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsFieldIndexed">
      <soap:operation soapAction="http://www.kCura.com/EDDS/FieldQuery/IsFieldIndexed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FieldQuerySoap12" type="tns:FieldQuerySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveDisplayFieldNameByFieldCategoryID">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/FieldQuery/RetrieveDisplayFieldNameByFieldCategoryID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllMappable">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/FieldQuery/RetrieveAllMappable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAll">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/FieldQuery/RetrieveAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrievePotentialBeginBatesFields">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/FieldQuery/RetrievePotentialBeginBatesFields" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsFieldIndexed">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/FieldQuery/IsFieldIndexed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FieldQuery">
    <wsdl:port name="FieldQuerySoap" binding="tns:FieldQuerySoap">
      <soap:address location="http://localhost/RelativityWebApi/FieldQuery.asmx" />
    </wsdl:port>
    <wsdl:port name="FieldQuerySoap12" binding="tns:FieldQuerySoap12">
      <soap12:address location="http://localhost/RelativityWebApi/FieldQuery.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>