source/kCura.Relativity.Export.ConvertedToC#/Web References/kCura.EDDS.WebAPI.UserManagerBase/UserManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.kCura.com/EDDS/UserManager" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.kCura.com/EDDS/UserManager" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.kCura.com/EDDS/UserManager">
      <s:element name="UpdateImageViewerDefaultViewMode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="defaultViewMode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateImageViewerDefaultViewModeResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateOIXDocumentMode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mode" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateOIXDocumentModeResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateSelectedMarkupSetArtifactID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="selectedMarkupSetArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSelectedMarkupSetArtifactIDResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateDefaultRedactionText">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDefaultRedactionTextResponse">
        <s:complexType />
      </s:element>
      <s:element name="Logout">
        <s:complexType />
      </s:element>
      <s:element name="LogoutResponse">
        <s:complexType />
      </s:element>
      <s:element name="ClearCookiesBeforeLogin">
        <s:complexType />
      </s:element>
      <s:element name="ClearCookiesBeforeLoginResponse">
        <s:complexType />
      </s:element>
      <s:element name="LoggedIn">
        <s:complexType />
      </s:element>
      <s:element name="LoggedInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoggedInResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="emailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginWithAuthenticationToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authenticationToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginWithAuthenticationTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginWithAuthenticationTokenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateAuthenticationToken">
        <s:complexType />
      </s:element>
      <s:element name="GenerateAuthenticationTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateAuthenticationTokenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateDistributedAuthenticationToken">
        <s:complexType />
      </s:element>
      <s:element name="GenerateDistributedAuthenticationTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateDistributedAuthenticationTokenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestAuthenticationToken">
        <s:complexType />
      </s:element>
      <s:element name="GetLatestAuthenticationTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLatestAuthenticationTokenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveAllAssignableInCase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveAllAssignableInCaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveAllAssignableInCaseResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="boolean" type="s:boolean" />
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UpdateImageViewerDefaultViewModeSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateImageViewerDefaultViewMode" />
  </wsdl:message>
  <wsdl:message name="UpdateImageViewerDefaultViewModeSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateImageViewerDefaultViewModeResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateOIXDocumentModeSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateOIXDocumentMode" />
  </wsdl:message>
  <wsdl:message name="UpdateOIXDocumentModeSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateOIXDocumentModeResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSelectedMarkupSetArtifactIDSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateSelectedMarkupSetArtifactID" />
  </wsdl:message>
  <wsdl:message name="UpdateSelectedMarkupSetArtifactIDSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateSelectedMarkupSetArtifactIDResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDefaultRedactionTextSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDefaultRedactionText" />
  </wsdl:message>
  <wsdl:message name="UpdateDefaultRedactionTextSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDefaultRedactionTextResponse" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapIn">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapOut">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="ClearCookiesBeforeLoginSoapIn">
    <wsdl:part name="parameters" element="tns:ClearCookiesBeforeLogin" />
  </wsdl:message>
  <wsdl:message name="ClearCookiesBeforeLoginSoapOut">
    <wsdl:part name="parameters" element="tns:ClearCookiesBeforeLoginResponse" />
  </wsdl:message>
  <wsdl:message name="LoggedInSoapIn">
    <wsdl:part name="parameters" element="tns:LoggedIn" />
  </wsdl:message>
  <wsdl:message name="LoggedInSoapOut">
    <wsdl:part name="parameters" element="tns:LoggedInResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="LoginWithAuthenticationTokenSoapIn">
    <wsdl:part name="parameters" element="tns:LoginWithAuthenticationToken" />
  </wsdl:message>
  <wsdl:message name="LoginWithAuthenticationTokenSoapOut">
    <wsdl:part name="parameters" element="tns:LoginWithAuthenticationTokenResponse" />
  </wsdl:message>
  <wsdl:message name="GenerateAuthenticationTokenSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateAuthenticationToken" />
  </wsdl:message>
  <wsdl:message name="GenerateAuthenticationTokenSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateAuthenticationTokenResponse" />
  </wsdl:message>
  <wsdl:message name="GenerateDistributedAuthenticationTokenSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateDistributedAuthenticationToken" />
  </wsdl:message>
  <wsdl:message name="GenerateDistributedAuthenticationTokenSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateDistributedAuthenticationTokenResponse" />
  </wsdl:message>
  <wsdl:message name="GetLatestAuthenticationTokenSoapIn">
    <wsdl:part name="parameters" element="tns:GetLatestAuthenticationToken" />
  </wsdl:message>
  <wsdl:message name="GetLatestAuthenticationTokenSoapOut">
    <wsdl:part name="parameters" element="tns:GetLatestAuthenticationTokenResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveAllAssignableInCaseSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveAllAssignableInCase" />
  </wsdl:message>
  <wsdl:message name="RetrieveAllAssignableInCaseSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveAllAssignableInCaseResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateImageViewerDefaultViewModeHttpGetIn">
    <wsdl:part name="defaultViewMode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateImageViewerDefaultViewModeHttpGetOut" />
  <wsdl:message name="UpdateOIXDocumentModeHttpGetIn">
    <wsdl:part name="mode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateOIXDocumentModeHttpGetOut" />
  <wsdl:message name="UpdateSelectedMarkupSetArtifactIDHttpGetIn">
    <wsdl:part name="selectedMarkupSetArtifactID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateSelectedMarkupSetArtifactIDHttpGetOut" />
  <wsdl:message name="UpdateDefaultRedactionTextHttpGetIn">
    <wsdl:part name="text" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateDefaultRedactionTextHttpGetOut" />
  <wsdl:message name="LogoutHttpGetIn" />
  <wsdl:message name="LogoutHttpGetOut" />
  <wsdl:message name="ClearCookiesBeforeLoginHttpGetIn" />
  <wsdl:message name="ClearCookiesBeforeLoginHttpGetOut" />
  <wsdl:message name="LoggedInHttpGetIn" />
  <wsdl:message name="LoggedInHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="LoginHttpGetIn">
    <wsdl:part name="emailAddress" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="LoginWithAuthenticationTokenHttpGetIn">
    <wsdl:part name="authenticationToken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginWithAuthenticationTokenHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GenerateAuthenticationTokenHttpGetIn" />
  <wsdl:message name="GenerateAuthenticationTokenHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GenerateDistributedAuthenticationTokenHttpGetIn" />
  <wsdl:message name="GenerateDistributedAuthenticationTokenHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetLatestAuthenticationTokenHttpGetIn" />
  <wsdl:message name="GetLatestAuthenticationTokenHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RetrieveAllAssignableInCaseHttpGetIn">
    <wsdl:part name="caseContextArtifactID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RetrieveAllAssignableInCaseHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="UpdateImageViewerDefaultViewModeHttpPostIn">
    <wsdl:part name="defaultViewMode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateImageViewerDefaultViewModeHttpPostOut" />
  <wsdl:message name="UpdateOIXDocumentModeHttpPostIn">
    <wsdl:part name="mode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateOIXDocumentModeHttpPostOut" />
  <wsdl:message name="UpdateSelectedMarkupSetArtifactIDHttpPostIn">
    <wsdl:part name="selectedMarkupSetArtifactID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateSelectedMarkupSetArtifactIDHttpPostOut" />
  <wsdl:message name="UpdateDefaultRedactionTextHttpPostIn">
    <wsdl:part name="text" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateDefaultRedactionTextHttpPostOut" />
  <wsdl:message name="LogoutHttpPostIn" />
  <wsdl:message name="LogoutHttpPostOut" />
  <wsdl:message name="ClearCookiesBeforeLoginHttpPostIn" />
  <wsdl:message name="ClearCookiesBeforeLoginHttpPostOut" />
  <wsdl:message name="LoggedInHttpPostIn" />
  <wsdl:message name="LoggedInHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="LoginHttpPostIn">
    <wsdl:part name="emailAddress" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="LoginWithAuthenticationTokenHttpPostIn">
    <wsdl:part name="authenticationToken" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginWithAuthenticationTokenHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GenerateAuthenticationTokenHttpPostIn" />
  <wsdl:message name="GenerateAuthenticationTokenHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GenerateDistributedAuthenticationTokenHttpPostIn" />
  <wsdl:message name="GenerateDistributedAuthenticationTokenHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetLatestAuthenticationTokenHttpPostIn" />
  <wsdl:message name="GetLatestAuthenticationTokenHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RetrieveAllAssignableInCaseHttpPostIn">
    <wsdl:part name="caseContextArtifactID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RetrieveAllAssignableInCaseHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:portType name="UserManagerSoap">
    <wsdl:operation name="UpdateImageViewerDefaultViewMode">
      <wsdl:input message="tns:UpdateImageViewerDefaultViewModeSoapIn" />
      <wsdl:output message="tns:UpdateImageViewerDefaultViewModeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOIXDocumentMode">
      <wsdl:input message="tns:UpdateOIXDocumentModeSoapIn" />
      <wsdl:output message="tns:UpdateOIXDocumentModeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSelectedMarkupSetArtifactID">
      <wsdl:input message="tns:UpdateSelectedMarkupSetArtifactIDSoapIn" />
      <wsdl:output message="tns:UpdateSelectedMarkupSetArtifactIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDefaultRedactionText">
      <wsdl:input message="tns:UpdateDefaultRedactionTextSoapIn" />
      <wsdl:output message="tns:UpdateDefaultRedactionTextSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input message="tns:LogoutSoapIn" />
      <wsdl:output message="tns:LogoutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClearCookiesBeforeLogin">
      <wsdl:input message="tns:ClearCookiesBeforeLoginSoapIn" />
      <wsdl:output message="tns:ClearCookiesBeforeLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoggedIn">
      <wsdl:input message="tns:LoggedInSoapIn" />
      <wsdl:output message="tns:LoggedInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginWithAuthenticationToken">
      <wsdl:input message="tns:LoginWithAuthenticationTokenSoapIn" />
      <wsdl:output message="tns:LoginWithAuthenticationTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateAuthenticationToken">
      <wsdl:input message="tns:GenerateAuthenticationTokenSoapIn" />
      <wsdl:output message="tns:GenerateAuthenticationTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateDistributedAuthenticationToken">
      <wsdl:input message="tns:GenerateDistributedAuthenticationTokenSoapIn" />
      <wsdl:output message="tns:GenerateDistributedAuthenticationTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestAuthenticationToken">
      <wsdl:input message="tns:GetLatestAuthenticationTokenSoapIn" />
      <wsdl:output message="tns:GetLatestAuthenticationTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllAssignableInCase">
      <wsdl:input message="tns:RetrieveAllAssignableInCaseSoapIn" />
      <wsdl:output message="tns:RetrieveAllAssignableInCaseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="UserManagerHttpGet">
    <wsdl:operation name="UpdateImageViewerDefaultViewMode">
      <wsdl:input message="tns:UpdateImageViewerDefaultViewModeHttpGetIn" />
      <wsdl:output message="tns:UpdateImageViewerDefaultViewModeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOIXDocumentMode">
      <wsdl:input message="tns:UpdateOIXDocumentModeHttpGetIn" />
      <wsdl:output message="tns:UpdateOIXDocumentModeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSelectedMarkupSetArtifactID">
      <wsdl:input message="tns:UpdateSelectedMarkupSetArtifactIDHttpGetIn" />
      <wsdl:output message="tns:UpdateSelectedMarkupSetArtifactIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDefaultRedactionText">
      <wsdl:input message="tns:UpdateDefaultRedactionTextHttpGetIn" />
      <wsdl:output message="tns:UpdateDefaultRedactionTextHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input message="tns:LogoutHttpGetIn" />
      <wsdl:output message="tns:LogoutHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ClearCookiesBeforeLogin">
      <wsdl:input message="tns:ClearCookiesBeforeLoginHttpGetIn" />
      <wsdl:output message="tns:ClearCookiesBeforeLoginHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LoggedIn">
      <wsdl:input message="tns:LoggedInHttpGetIn" />
      <wsdl:output message="tns:LoggedInHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginHttpGetIn" />
      <wsdl:output message="tns:LoginHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginWithAuthenticationToken">
      <wsdl:input message="tns:LoginWithAuthenticationTokenHttpGetIn" />
      <wsdl:output message="tns:LoginWithAuthenticationTokenHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateAuthenticationToken">
      <wsdl:input message="tns:GenerateAuthenticationTokenHttpGetIn" />
      <wsdl:output message="tns:GenerateAuthenticationTokenHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateDistributedAuthenticationToken">
      <wsdl:input message="tns:GenerateDistributedAuthenticationTokenHttpGetIn" />
      <wsdl:output message="tns:GenerateDistributedAuthenticationTokenHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestAuthenticationToken">
      <wsdl:input message="tns:GetLatestAuthenticationTokenHttpGetIn" />
      <wsdl:output message="tns:GetLatestAuthenticationTokenHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllAssignableInCase">
      <wsdl:input message="tns:RetrieveAllAssignableInCaseHttpGetIn" />
      <wsdl:output message="tns:RetrieveAllAssignableInCaseHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="UserManagerHttpPost">
    <wsdl:operation name="UpdateImageViewerDefaultViewMode">
      <wsdl:input message="tns:UpdateImageViewerDefaultViewModeHttpPostIn" />
      <wsdl:output message="tns:UpdateImageViewerDefaultViewModeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOIXDocumentMode">
      <wsdl:input message="tns:UpdateOIXDocumentModeHttpPostIn" />
      <wsdl:output message="tns:UpdateOIXDocumentModeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSelectedMarkupSetArtifactID">
      <wsdl:input message="tns:UpdateSelectedMarkupSetArtifactIDHttpPostIn" />
      <wsdl:output message="tns:UpdateSelectedMarkupSetArtifactIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDefaultRedactionText">
      <wsdl:input message="tns:UpdateDefaultRedactionTextHttpPostIn" />
      <wsdl:output message="tns:UpdateDefaultRedactionTextHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input message="tns:LogoutHttpPostIn" />
      <wsdl:output message="tns:LogoutHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ClearCookiesBeforeLogin">
      <wsdl:input message="tns:ClearCookiesBeforeLoginHttpPostIn" />
      <wsdl:output message="tns:ClearCookiesBeforeLoginHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LoggedIn">
      <wsdl:input message="tns:LoggedInHttpPostIn" />
      <wsdl:output message="tns:LoggedInHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginHttpPostIn" />
      <wsdl:output message="tns:LoginHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginWithAuthenticationToken">
      <wsdl:input message="tns:LoginWithAuthenticationTokenHttpPostIn" />
      <wsdl:output message="tns:LoginWithAuthenticationTokenHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateAuthenticationToken">
      <wsdl:input message="tns:GenerateAuthenticationTokenHttpPostIn" />
      <wsdl:output message="tns:GenerateAuthenticationTokenHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateDistributedAuthenticationToken">
      <wsdl:input message="tns:GenerateDistributedAuthenticationTokenHttpPostIn" />
      <wsdl:output message="tns:GenerateDistributedAuthenticationTokenHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestAuthenticationToken">
      <wsdl:input message="tns:GetLatestAuthenticationTokenHttpPostIn" />
      <wsdl:output message="tns:GetLatestAuthenticationTokenHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllAssignableInCase">
      <wsdl:input message="tns:RetrieveAllAssignableInCaseHttpPostIn" />
      <wsdl:output message="tns:RetrieveAllAssignableInCaseHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserManagerSoap" type="tns:UserManagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateImageViewerDefaultViewMode">
      <soap:operation soapAction="http://www.kCura.com/EDDS/UserManager/UpdateImageViewerDefaultViewMode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOIXDocumentMode">
      <soap:operation soapAction="http://www.kCura.com/EDDS/UserManager/UpdateOIXDocumentMode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSelectedMarkupSetArtifactID">
      <soap:operation soapAction="http://www.kCura.com/EDDS/UserManager/UpdateSelectedMarkupSetArtifactID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDefaultRedactionText">
      <soap:operation soapAction="http://www.kCura.com/EDDS/UserManager/UpdateDefaultRedactionText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://www.kCura.com/EDDS/UserManager/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearCookiesBeforeLogin">
      <soap:operation soapAction="http://www.kCura.com/EDDS/UserManager/ClearCookiesBeforeLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoggedIn">
      <soap:operation soapAction="http://www.kCura.com/EDDS/UserManager/LoggedIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://www.kCura.com/EDDS/UserManager/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginWithAuthenticationToken">
      <soap:operation soapAction="http://www.kCura.com/EDDS/UserManager/LoginWithAuthenticationToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateAuthenticationToken">
      <soap:operation soapAction="http://www.kCura.com/EDDS/UserManager/GenerateAuthenticationToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateDistributedAuthenticationToken">
      <soap:operation soapAction="http://www.kCura.com/EDDS/UserManager/GenerateDistributedAuthenticationToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestAuthenticationToken">
      <soap:operation soapAction="http://www.kCura.com/EDDS/UserManager/GetLatestAuthenticationToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllAssignableInCase">
      <soap:operation soapAction="http://www.kCura.com/EDDS/UserManager/RetrieveAllAssignableInCase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserManagerSoap12" type="tns:UserManagerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateImageViewerDefaultViewMode">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/UserManager/UpdateImageViewerDefaultViewMode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOIXDocumentMode">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/UserManager/UpdateOIXDocumentMode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSelectedMarkupSetArtifactID">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/UserManager/UpdateSelectedMarkupSetArtifactID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDefaultRedactionText">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/UserManager/UpdateDefaultRedactionText" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/UserManager/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearCookiesBeforeLogin">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/UserManager/ClearCookiesBeforeLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoggedIn">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/UserManager/LoggedIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/UserManager/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginWithAuthenticationToken">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/UserManager/LoginWithAuthenticationToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateAuthenticationToken">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/UserManager/GenerateAuthenticationToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateDistributedAuthenticationToken">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/UserManager/GenerateDistributedAuthenticationToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestAuthenticationToken">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/UserManager/GetLatestAuthenticationToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllAssignableInCase">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/UserManager/RetrieveAllAssignableInCase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserManagerHttpGet" type="tns:UserManagerHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="UpdateImageViewerDefaultViewMode">
      <http:operation location="/UpdateImageViewerDefaultViewMode" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UpdateOIXDocumentMode">
      <http:operation location="/UpdateOIXDocumentMode" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UpdateSelectedMarkupSetArtifactID">
      <http:operation location="/UpdateSelectedMarkupSetArtifactID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UpdateDefaultRedactionText">
      <http:operation location="/UpdateDefaultRedactionText" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <http:operation location="/Logout" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ClearCookiesBeforeLogin">
      <http:operation location="/ClearCookiesBeforeLogin" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="LoggedIn">
      <http:operation location="/LoggedIn" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <http:operation location="/Login" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginWithAuthenticationToken">
      <http:operation location="/LoginWithAuthenticationToken" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateAuthenticationToken">
      <http:operation location="/GenerateAuthenticationToken" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateDistributedAuthenticationToken">
      <http:operation location="/GenerateDistributedAuthenticationToken" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestAuthenticationToken">
      <http:operation location="/GetLatestAuthenticationToken" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllAssignableInCase">
      <http:operation location="/RetrieveAllAssignableInCase" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserManagerHttpPost" type="tns:UserManagerHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="UpdateImageViewerDefaultViewMode">
      <http:operation location="/UpdateImageViewerDefaultViewMode" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UpdateOIXDocumentMode">
      <http:operation location="/UpdateOIXDocumentMode" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UpdateSelectedMarkupSetArtifactID">
      <http:operation location="/UpdateSelectedMarkupSetArtifactID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UpdateDefaultRedactionText">
      <http:operation location="/UpdateDefaultRedactionText" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <http:operation location="/Logout" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ClearCookiesBeforeLogin">
      <http:operation location="/ClearCookiesBeforeLogin" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="LoggedIn">
      <http:operation location="/LoggedIn" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <http:operation location="/Login" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginWithAuthenticationToken">
      <http:operation location="/LoginWithAuthenticationToken" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateAuthenticationToken">
      <http:operation location="/GenerateAuthenticationToken" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateDistributedAuthenticationToken">
      <http:operation location="/GenerateDistributedAuthenticationToken" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestAuthenticationToken">
      <http:operation location="/GetLatestAuthenticationToken" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllAssignableInCase">
      <http:operation location="/RetrieveAllAssignableInCase" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserManager">
    <wsdl:port name="UserManagerSoap" binding="tns:UserManagerSoap">
      <soap:address location="http://localhost/RelativityWebApi/UserManager.asmx" />
    </wsdl:port>
    <wsdl:port name="UserManagerSoap12" binding="tns:UserManagerSoap12">
      <soap12:address location="http://localhost/RelativityWebApi/UserManager.asmx" />
    </wsdl:port>
    <wsdl:port name="UserManagerHttpGet" binding="tns:UserManagerHttpGet">
      <http:address location="http://localhost/RelativityWebApi/UserManager.asmx" />
    </wsdl:port>
    <wsdl:port name="UserManagerHttpPost" binding="tns:UserManagerHttpPost">
      <http:address location="http://localhost/RelativityWebApi/UserManager.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>