source/kCura.Relativity.Export.ConvertedToC#/Web References/kCura.EDDS.WebAPI.ProductionManagerBase/ProductionManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.kCura.com/EDDS/ProductionManager" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.kCura.com/EDDS/ProductionManager" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.kCura.com/EDDS/ProductionManager">
      <s:element name="RetrieveProducedByContextArtifactID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveProducedByContextArtifactIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveProducedByContextArtifactIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveImportEligibleByContextArtifactID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveImportEligibleByContextArtifactIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveImportEligibleByContextArtifactIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoPostImportProcessing">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="productionArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoPostImportProcessingResponse">
        <s:complexType />
      </s:element>
      <s:element name="DoPreImportProcessing">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="productionArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoPreImportProcessingResponse">
        <s:complexType />
      </s:element>
      <s:element name="Read">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="productionArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadResult" type="tns:ProductionInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ProductionInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="BatesNumbering" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="BeginBatesReflectedFieldId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DocumentsHaveRedactions" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IncludeImageLevelNumberingForDocumentLevelNumbering" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UseDocumentLevelNumbering" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetrieveProducedWithSecurity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveProducedWithSecurityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveProducedWithSecurityResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MigrationJobExists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="caseContextArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="productionArtifactID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MigrationJobExistsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MigrationJobExistsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RetrieveProducedByContextArtifactIDSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveProducedByContextArtifactID" />
  </wsdl:message>
  <wsdl:message name="RetrieveProducedByContextArtifactIDSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveProducedByContextArtifactIDResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveImportEligibleByContextArtifactIDSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveImportEligibleByContextArtifactID" />
  </wsdl:message>
  <wsdl:message name="RetrieveImportEligibleByContextArtifactIDSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveImportEligibleByContextArtifactIDResponse" />
  </wsdl:message>
  <wsdl:message name="DoPostImportProcessingSoapIn">
    <wsdl:part name="parameters" element="tns:DoPostImportProcessing" />
  </wsdl:message>
  <wsdl:message name="DoPostImportProcessingSoapOut">
    <wsdl:part name="parameters" element="tns:DoPostImportProcessingResponse" />
  </wsdl:message>
  <wsdl:message name="DoPreImportProcessingSoapIn">
    <wsdl:part name="parameters" element="tns:DoPreImportProcessing" />
  </wsdl:message>
  <wsdl:message name="DoPreImportProcessingSoapOut">
    <wsdl:part name="parameters" element="tns:DoPreImportProcessingResponse" />
  </wsdl:message>
  <wsdl:message name="ReadSoapIn">
    <wsdl:part name="parameters" element="tns:Read" />
  </wsdl:message>
  <wsdl:message name="ReadSoapOut">
    <wsdl:part name="parameters" element="tns:ReadResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveProducedWithSecuritySoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveProducedWithSecurity" />
  </wsdl:message>
  <wsdl:message name="RetrieveProducedWithSecuritySoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveProducedWithSecurityResponse" />
  </wsdl:message>
  <wsdl:message name="MigrationJobExistsSoapIn">
    <wsdl:part name="parameters" element="tns:MigrationJobExists" />
  </wsdl:message>
  <wsdl:message name="MigrationJobExistsSoapOut">
    <wsdl:part name="parameters" element="tns:MigrationJobExistsResponse" />
  </wsdl:message>
  <wsdl:portType name="ProductionManagerSoap">
    <wsdl:operation name="RetrieveProducedByContextArtifactID">
      <wsdl:input message="tns:RetrieveProducedByContextArtifactIDSoapIn" />
      <wsdl:output message="tns:RetrieveProducedByContextArtifactIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveImportEligibleByContextArtifactID">
      <wsdl:input message="tns:RetrieveImportEligibleByContextArtifactIDSoapIn" />
      <wsdl:output message="tns:RetrieveImportEligibleByContextArtifactIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoPostImportProcessing">
      <wsdl:input message="tns:DoPostImportProcessingSoapIn" />
      <wsdl:output message="tns:DoPostImportProcessingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoPreImportProcessing">
      <wsdl:input message="tns:DoPreImportProcessingSoapIn" />
      <wsdl:output message="tns:DoPreImportProcessingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Read">
      <wsdl:input message="tns:ReadSoapIn" />
      <wsdl:output message="tns:ReadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveProducedWithSecurity">
      <wsdl:input message="tns:RetrieveProducedWithSecuritySoapIn" />
      <wsdl:output message="tns:RetrieveProducedWithSecuritySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MigrationJobExists">
      <wsdl:input message="tns:MigrationJobExistsSoapIn" />
      <wsdl:output message="tns:MigrationJobExistsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProductionManagerSoap" type="tns:ProductionManagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveProducedByContextArtifactID">
      <soap:operation soapAction="http://www.kCura.com/EDDS/ProductionManager/RetrieveProducedByContextArtifactID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveImportEligibleByContextArtifactID">
      <soap:operation soapAction="http://www.kCura.com/EDDS/ProductionManager/RetrieveImportEligibleByContextArtifactID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoPostImportProcessing">
      <soap:operation soapAction="http://www.kCura.com/EDDS/ProductionManager/DoPostImportProcessing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoPreImportProcessing">
      <soap:operation soapAction="http://www.kCura.com/EDDS/ProductionManager/DoPreImportProcessing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <soap:operation soapAction="http://www.kCura.com/EDDS/ProductionManager/Read" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveProducedWithSecurity">
      <soap:operation soapAction="http://www.kCura.com/EDDS/ProductionManager/RetrieveProducedWithSecurity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MigrationJobExists">
      <soap:operation soapAction="http://www.kCura.com/EDDS/ProductionManager/MigrationJobExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProductionManagerSoap12" type="tns:ProductionManagerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveProducedByContextArtifactID">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/ProductionManager/RetrieveProducedByContextArtifactID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveImportEligibleByContextArtifactID">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/ProductionManager/RetrieveImportEligibleByContextArtifactID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoPostImportProcessing">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/ProductionManager/DoPostImportProcessing" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoPreImportProcessing">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/ProductionManager/DoPreImportProcessing" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/ProductionManager/Read" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveProducedWithSecurity">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/ProductionManager/RetrieveProducedWithSecurity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MigrationJobExists">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/ProductionManager/MigrationJobExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductionManager">
    <wsdl:port name="ProductionManagerSoap" binding="tns:ProductionManagerSoap">
      <soap:address location="http://localhost/RelativityWebApi/ProductionManager.asmx" />
    </wsdl:port>
    <wsdl:port name="ProductionManagerSoap12" binding="tns:ProductionManagerSoap12">
      <soap12:address location="http://localhost/RelativityWebApi/ProductionManager.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>