source/kCura.Relativity.Export/Web References/kCura.EDDS.WebAPI.ExportManagerBase/ExportManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.kCura.com/EDDS/ExportManager" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.kCura.com/EDDS/ExportManager" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.kCura.com/EDDS/ExportManager">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="InitializeSearchExport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="searchArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="avfIds" type="tns:ArrayOfInt" />
            <s:element minOccurs="1" maxOccurs="1" name="startAtRecord" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="InitializeSearchExportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InitializeSearchExportResult" type="tns:InitializationResults" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="InitializationResults">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RunId" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="RowCount" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="ColumnNames" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InitializeFolderExport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="viewArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="parentArtifactID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="includeSubFolders" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="avfIds" type="tns:ArrayOfInt" />
            <s:element minOccurs="1" maxOccurs="1" name="startAtRecord" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="artifactTypeID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InitializeFolderExportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InitializeFolderExportResult" type="tns:InitializationResults" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InitializeProductionExport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="productionArtifactID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="avfIds" type="tns:ArrayOfInt" />
            <s:element minOccurs="1" maxOccurs="1" name="startAtRecord" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InitializeProductionExportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InitializeProductionExportResult" type="tns:InitializationResults" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveResultsBlockForProduction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="runId" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="artifactTypeID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="avfIds" type="tns:ArrayOfInt" />
            <s:element minOccurs="1" maxOccurs="1" name="chunkSize" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="displayMulticodesAsNested" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="multiValueDelimiter" type="s1:char" />
            <s:element minOccurs="1" maxOccurs="1" name="nestedValueDelimiter" type="s1:char" />
            <s:element minOccurs="0" maxOccurs="1" name="textPrecedenceAvfIds" type="tns:ArrayOfInt" />
            <s:element minOccurs="1" maxOccurs="1" name="productionId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveResultsBlockForProductionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveResultsBlockForProductionResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetrieveResultsBlock">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="runId" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="artifactTypeID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="avfIds" type="tns:ArrayOfInt" />
            <s:element minOccurs="1" maxOccurs="1" name="chunkSize" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="displayMulticodesAsNested" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="multiValueDelimiter" type="s1:char" />
            <s:element minOccurs="1" maxOccurs="1" name="nestedValueDelimiter" type="s1:char" />
            <s:element minOccurs="0" maxOccurs="1" name="textPrecedenceAvfIds" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveResultsBlockResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveResultsBlockResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HasExportPermissions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="appID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HasExportPermissionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HasExportPermissionsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="char">
        <s:restriction base="s:unsignedShort" />
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InitializeSearchExportSoapIn">
    <wsdl:part name="parameters" element="tns:InitializeSearchExport" />
  </wsdl:message>
  <wsdl:message name="InitializeSearchExportSoapOut">
    <wsdl:part name="parameters" element="tns:InitializeSearchExportResponse" />
  </wsdl:message>
  <wsdl:message name="InitializeFolderExportSoapIn">
    <wsdl:part name="parameters" element="tns:InitializeFolderExport" />
  </wsdl:message>
  <wsdl:message name="InitializeFolderExportSoapOut">
    <wsdl:part name="parameters" element="tns:InitializeFolderExportResponse" />
  </wsdl:message>
  <wsdl:message name="InitializeProductionExportSoapIn">
    <wsdl:part name="parameters" element="tns:InitializeProductionExport" />
  </wsdl:message>
  <wsdl:message name="InitializeProductionExportSoapOut">
    <wsdl:part name="parameters" element="tns:InitializeProductionExportResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveResultsBlockForProductionSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveResultsBlockForProduction" />
  </wsdl:message>
  <wsdl:message name="RetrieveResultsBlockForProductionSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveResultsBlockForProductionResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveResultsBlockSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveResultsBlock" />
  </wsdl:message>
  <wsdl:message name="RetrieveResultsBlockSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveResultsBlockResponse" />
  </wsdl:message>
  <wsdl:message name="HasExportPermissionsSoapIn">
    <wsdl:part name="parameters" element="tns:HasExportPermissions" />
  </wsdl:message>
  <wsdl:message name="HasExportPermissionsSoapOut">
    <wsdl:part name="parameters" element="tns:HasExportPermissionsResponse" />
  </wsdl:message>
  <wsdl:portType name="ExportManagerSoap">
    <wsdl:operation name="InitializeSearchExport">
      <wsdl:input message="tns:InitializeSearchExportSoapIn" />
      <wsdl:output message="tns:InitializeSearchExportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InitializeFolderExport">
      <wsdl:input message="tns:InitializeFolderExportSoapIn" />
      <wsdl:output message="tns:InitializeFolderExportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InitializeProductionExport">
      <wsdl:input message="tns:InitializeProductionExportSoapIn" />
      <wsdl:output message="tns:InitializeProductionExportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveResultsBlockForProduction">
      <wsdl:input message="tns:RetrieveResultsBlockForProductionSoapIn" />
      <wsdl:output message="tns:RetrieveResultsBlockForProductionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveResultsBlock">
      <wsdl:input message="tns:RetrieveResultsBlockSoapIn" />
      <wsdl:output message="tns:RetrieveResultsBlockSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HasExportPermissions">
      <wsdl:input message="tns:HasExportPermissionsSoapIn" />
      <wsdl:output message="tns:HasExportPermissionsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExportManagerSoap" type="tns:ExportManagerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InitializeSearchExport">
      <soap:operation soapAction="http://www.kCura.com/EDDS/ExportManager/InitializeSearchExport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitializeFolderExport">
      <soap:operation soapAction="http://www.kCura.com/EDDS/ExportManager/InitializeFolderExport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitializeProductionExport">
      <soap:operation soapAction="http://www.kCura.com/EDDS/ExportManager/InitializeProductionExport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveResultsBlockForProduction">
      <soap:operation soapAction="http://www.kCura.com/EDDS/ExportManager/RetrieveResultsBlockForProduction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveResultsBlock">
      <soap:operation soapAction="http://www.kCura.com/EDDS/ExportManager/RetrieveResultsBlock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasExportPermissions">
      <soap:operation soapAction="http://www.kCura.com/EDDS/ExportManager/HasExportPermissions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ExportManagerSoap12" type="tns:ExportManagerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InitializeSearchExport">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/ExportManager/InitializeSearchExport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitializeFolderExport">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/ExportManager/InitializeFolderExport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitializeProductionExport">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/ExportManager/InitializeProductionExport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveResultsBlockForProduction">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/ExportManager/RetrieveResultsBlockForProduction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveResultsBlock">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/ExportManager/RetrieveResultsBlock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasExportPermissions">
      <soap12:operation soapAction="http://www.kCura.com/EDDS/ExportManager/HasExportPermissions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExportManager">
    <wsdl:port name="ExportManagerSoap" binding="tns:ExportManagerSoap">
      <soap:address location="http://localhost/RelativityWebApi/ExportManager.asmx" />
    </wsdl:port>
    <wsdl:port name="ExportManagerSoap12" binding="tns:ExportManagerSoap12">
      <soap12:address location="http://localhost/RelativityWebApi/ExportManager.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>